@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}
/* Start Header */
header {
  padding: 10px 0;
  background-color: #33211d;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-family: "Roboto", sans-serif;
  font-size: clamp(30px, 5vw, 56px);
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}
header .logo:hover {
  cursor: pointer;
}
nav a {
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
nav .special,
a:hover,
.fa-bars:hover {
  color: #da9f5b;
}
header .fa-bars {
  display: none;
  font-size: clamp(20px, 5vw, 35px);
  color: rgb(255 255 255 / 50%);
}
@media screen and (max-width: 991px) {
  header .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
}
.hero .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  background-image: url(../img/separator-after.png);
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
}
/* End Header */
/* Start About Section */
.about {
  background-color: #fffbf2;
  padding: 40px 2rem;
}
.about .separtor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.about .separtor span {
  display: inline-block;
  width: 2px;
  height: 100px;
  background-color: #da9f5b;
}
.about .title {
  text-align: center;
}

.about .title h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #da9f5b;
}
.about .title h1 {
  font-weight: 700;
  font-size: clamp(35px, 6vw, 56px);
}
.about .story-vision {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .story-vision .story,
.about .story-vision .vision {
  margin: 2rem 0;
}
.about .story-vision .story h1 {
  font-weight: 700;
  color: #33211d;
  margin: 0 0 16px;
}
.about .story-vision .story h5,
.about .story-vision .vision h5 {
  font-weight: 400;
  line-height: 1.2;
  color: #33211d;
}
.about .story-vision .story p,
.about .story-vision .vision p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: left;
}
.about .story-vision .story button {
  padding: 10px 20px;
  background-color: #33211d;
  color: white;
  transition: 1s;
  font-family: "Montserrat", sans-serif;
  border: none;
}
.about .story-vision .story button:hover {
  background-color: black;
}
.about .story-vision img {
  width: 500px;
}
.about .story-vision .vision h5 {
  font-size: 16px;
}
.about .story-vision .vision h5 i {
  color: #da9f5b;
}
.about .story-vision .vision button {
  padding: 10px 20px;
  background-color: #da9f5b;
  color: white;
  transition: 1s;
  font-family: "Montserrat", sans-serif;
  border: none;
}
.about .story-vision .vision button:hover {
  background-color: #996a33;
}
@media screen and (max-width: 991px) {
  .about {
    overflow: hidden;
  }
  .about .story-vision {
    flex-direction: column;
  }
}
/* End About Section */
/* Start Services Section */
.services {
  background-color: #fffbf2;
  padding: 20px 2rem 40px;
  position: relative;
}
.services .separtor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.services .separtor span {
  display: inline-block;
  width: 2px;
  height: 100px;
  background-color: #da9f5b;
}
.services .title {
  text-align: center;
}

.services .title h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #da9f5b;
}
.services .title h1 {
  font-weight: 700;
  font-size: clamp(35px, 6vw, 56px);
}
.services .all-services {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services .all-services .service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: calc((100% - 2rem) / 2);
}
.services .all-services .service img {
  max-width: 200px;
  /* width: clamp(150px, 5vw, 200px); */
}
.services .all-services .service .description h4 i {
  padding: 10px;
  background-color: #da9f5b;
  color: #33211d;
  border-radius: 50%;
}
.services .all-services .service .description p {
  color: #555;
}

@media screen and (max-width: 991px) {
  .services .all-services {
    flex-direction: column;
  }
  .services .all-services .service {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .services .all-services .service {
    flex-direction: column;
  }
  .services .all-services .service img {
    max-width: 100%;
  }
}
/* End Services Section */
/* Start Offer Section */
.offer {
  position: relative;
  text-align: center;
  padding: 6rem 2rem;
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
    url(../img/bg.jpg);
  background-size: cover;
}
.offer::before {
  content: "";
  position: absolute;
  background-image: url(../img/separato-before.png);
  width: 100%;
  height: 15px;
  top: 0;
  left: 0;
}
.offer::after {
  content: "";
  position: absolute;
  background-image: url(../img/separator-after.png);
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
}
.offer .container h1 {
  font-size: clamp(40px, 5vw, 70px);
  font-weight: 700;
  color: #da9f5b;
}
.offer .container h2 {
  color: #fff;
  font-size: clamp(30px, 5vw, 40px);
}
.offer .container p {
  font-size: clamp(20px, 5vw, 22px);
  color: #fff;
}

.offer .container form input {
  padding: 20px;
  /* width: 300px; */
}
.offer .container form button {
  background-color: #da9f5b;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}
.offer .container form button:hover {
  background-color: #d38d3c;
}
@media screen and (max-width: 515px) {
  .offer .container form input {
    width: 250px;
  }
  .offer .container form {
    width: 100%;
  }
}
/* End Offer Section */
/* Start Competitive-Pricing Section */
.competitive-pricing {
  position: relative;
  background-color: #fffbf2;
  padding: 40px 2rem;
}
.competitive-pricing::before {
  content: "";
  position: absolute;
  background-image: url(../img/separator.png);
  width: 100%;
  height: 16px;
  top: -14px;
  left: 0;
}
/* .competitive-pricing .container {
} */
.competitive-pricing .separtor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.competitive-pricing .separtor span {
  display: inline-block;
  width: 2px;
  height: 100px;
  background-color: #da9f5b;
}
.competitive-pricing .title {
  text-align: center;
}

.competitive-pricing .title h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #da9f5b;
}
.competitive-pricing .title h1 {
  font-weight: 700;
  font-size: clamp(35px, 6vw, 56px);
  color: #33211d;
}
.competitive-pricing .container .all-menu {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.competitive-pricing .container .all-menu h1 {
  font-weight: bold;
  color: #33211d;
  margin-bottom: 3rem;
}
.competitive-pricing .container .all-menu .coffe h4 {
  color: #33211d;
}
.competitive-pricing .container .all-menu .coffe {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 20px;
  position: relative;
}
.competitive-pricing .container .all-menu .coffe::before {
  content: "$5";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #da9f5b;
  top: -7px;
  left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1;
}
.competitive-pricing .container .all-menu .coffe img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.competitive-pricing .container .all-menu .coffe .description p {
  color: #555;
}
@media screen and (max-width: 991px) {
  .competitive-pricing .container .all-menu {
    flex-direction: column;
  }
}
/* End Competitive-Pricing Section */
/* Start Book Section */
.book {
  background-color: #fffbf2;
}
.book .container {
  display: flex;
  justify-content: space-between;
}
.book .container .left {

}